* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.navbar{
  background-color: white !important;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: rgb(107, 107, 180) !important;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.navbar a:hover{
  color: #3498db !important;
}
@media (max-width: 991px){
  .navbar-brand{
    font-size: 1.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-radius: none;
  }
}

h5{
  color: grey !important;
}

.margin-top{
  margin-top: 40px;
}